.AgendaWrapper {
  height: 100vh;
  overflow-y: scroll;
  background: #f0f0f0;
}

.AgendaWrapper::-webkit-scrollbar {
  display: none;
}

.title h2 {
  color: #404040;
  font-weight: 300;
  font-size: 22px;
}

.title span {
  font-size: 16px;
  text-decoration: underline;
  padding-left: 10px;
  cursor: pointer;
}

.AgendaContentWrapper {
  padding: 20px;
}

.AgendaContainer {
  display: grid;
  grid-template-columns: 0.5fr 1.1fr;
  grid-gap: 10px;
  margin-top: 20px;
}

.UpcomingSessions {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.SessionContent img {
  border-radius: 10px;
}

.Session {
  margin-bottom: 15px;
}

.Session p {
  color: #080808;
  font-weight: 500;
  font-size: 15px;
}

.Session span {
  font-size: 14px;
  color: #212529;
  font-weight: 300;
}

.VideosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}

.VideoImage img {
  border-radius: 10px;
}
