.Navbar {
  background: #ffffff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem 2rem 2rem;
}

.CustomDropDown button {
  background: transparent !important;
  border: none;
  box-shadow: none !important;
}

.CustomDropDown.dropdown-toggle {
  background: yellow;
}

.CustomDropDown button::after {
  border-top: 0.5em solid #ff0000;
}

.CustomDropDown button:hover {
  background: transparent;
}

.goLive button {
  background: #ff0000;
  color: #fff;
  border: 1px solid #ff0000;
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 15px;
  font-weight: 600;
  outline: none;
}

.goLive {
  margin-right: 10px;
}

.createEvent button {
  background: #cecece;
  color: #fff;
  border: 1px solid #cecece;
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 15px;
  font-weight: 600;
  outline: none;
}

.headerRightContent {
  display: flex;
  align-items: baseline;
}

.createEvent,
.Message,
.Notification {
  margin-right: 10px;
}

.ChannelName,
.logoContainer {
  display: flex;
  align-items: center;
}

.ChannelName {
  margin-left: 10px;
}

.ChannelName button {
  background: transparent !important;
  color: #000000 !important;
  border: none;
  box-shadow: none !important;
  font-size: 20px;
  font-weight: 300;
}

.ChannelName button::after {
  border-top: 0.3em solid #ff0000;
}

.ChannelName span {
  font-size: 20px;
  font-weight: 300;
}
