.PartnersWrapper {
  height: 100vh;
  overflow-y: scroll;
  background: #f0f0f0;
}

.PartnersWrapper::-webkit-scrollbar {
  display: none;
}

.ourPartners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 5px;
  margin-top: 20px;
}

.partner {
  background: #fff;
  padding: 40px 20px;
  transition: all 0.35s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner:hover {
  box-shadow: 0 3px 34px rgba(0, 0, 0, 0.25);
}

.partnerContainer {
  padding: 20px;
}

.title h2 {
  color: #404040;
  font-weight: 300;
  font-size: 22px;
}
