.ProfileContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ProfilePhotoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ProfilePhotoContainer .useName {
  margin-left: 20px;
}

.ProfilePhotoContainer h1 {
  color: #000000;
  font-size: 30px;
  margin: 0;
}

.ProfilePhotoContainer p {
  font-size: 20px;
  font-weight: 300;
}

.ExperienceContainer {
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  margin-top: 30px;
}

.ExperienceContainer .header {
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ExperienceContainer .header p {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
}

.ExperienceContainer .Content {
  padding: 10px;
}

.ExperienceContainer .Content .Title {
  display: flex;
  justify-content: space-between;
}

.ExperienceContainer .Content .subTitle h6 {
  color: #000000;
}

.ExperienceContainer .Content .Title p {
  color: #5b5b55;
}

.ExperienceContainer .Content .years {
  text-align: right;
}

.ExperienceContainer .Content .years span {
  font-size: 14px;
  color: #5b5b5b;
}

.ExperienceContainer .Content .text p {
  color: #404040;
  font-weight: 300;
}

.seeMore {
  color: #fe0000;
  font-weight: 600;
}

.ExperienceContainer hr {
  border-top: 1px solid #dbdbdb;
  width: 95%;
}

.FollowerSection {
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 10px;
  margin-top: 30px;
}

.FollowerSection .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.FollowerSection p {
  color: #8d8d8d;
}

.FollowerSection h1 {
  font-size: 22px;
  font-weight: 300;
  color: #292929;
}

.FollowersMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.FollowingMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.FollowingWrapper {
  padding-top: 30px;
}
