.SpeakerWrapper {
  height: 100vh;
  overflow-y: scroll;
}

.SpeakerWrapper::-webkit-scrollbar {
  display: none;
}

.SpeakerContainer {
  padding: 20px;
}

.speaker {
  text-align: center;
  margin-bottom: 25px;
}

.speaker img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.speaker p {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  padding-top: 10px;
}

.speaker span {
  font-size: 16px;
  color: #212529;
  font-weight: 300;
}

.title p {
  color: #00a5e3;
  font-weight: 600;
  font-size: 18px;
}

.title h1 {
  color: #282828;
  font-weight: 600;
}

.ourSpeakers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
}
