.SpeakerWrapper {
  height: 100vh;
  overflow-y: scroll;
  background: #f0f0f0;
}

.SpeakerWrapper::-webkit-scrollbar {
  display: none;
}

.SpeakerContainer {
  padding: 20px;
}

.speaker {
  margin-bottom: 25px;
}

.speaker p {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
}

.speaker span {
  font-size: 14px;
  color: #212529;
  font-weight: 300;
}

.title h2 {
  color: #404040;
  font-weight: 300;
  font-size: 22px;
}

.ourSpeakers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  grid-gap: 5px;
}

.speaker img {
  filter: grayscale(100%);
  transition: all 0.35s ease-in-out;
}

.speaker img:hover {
  filter: grayscale(0%);
}
